@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Homemade+Apple&family=Rock+Salt&display=swap");

body {
  margin: 0;
  font-family: "Rock Salt", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/resources/Wrinkle.jpeg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

